*
{
    
    margin: 0;
    padding: 0;
}


.row-custom
{
    max-width: 1140px;
    margin: 0 auto;
}

body
{
    font-family: tahoma;
}

.hero
{
    position:absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btnn:hover{
    background: #fff;
    color: #ff7200;
}

.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form .link{
    font-family: Arial;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: #ff7200;
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
header
{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://images.pexels.com/photos/684965/pexels-photo-684965.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: white;

}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

h1
{
    color:white;
    font-size: 60px;
}

.main-nav
{
    list-style: none;
    float: right;
    margin-right: -150px;
    margin-top: 30px;
}

.main-nav li
{
    display: inline-block;
    margin-left: 40px;
    
}

.main-nav li a
{
    color:white;
    text-decoration: none;
    font-size: 90%;
    font-weight: bold;
}

.main-nav li a:hover
{
    color: #e67e22;
    border-bottom: 2px solid #e67e22;
    transition: all 0.5s ease-in;
    padding: 15px 0;
}

.logo img
{
    float:left;
    height: 100px;
    margin-top: 30px;
    margin-left: -150px;
    
}

.btn
{
    border: 1px solid #e67e22;
    padding: 10px 30px;
    color: #e67e22;
    text-decoration: none;
    border-radius: 12px;
    margin-right: 15px;
}

.button-awesome
{
    margin-top: 40px;

}

.btn-half:hover
{
    background-color: #e67e22;
    color: white;
    transition: all 0.5s ease-in;
}

.btn-full:hover
{
    background-color: #e67e22;
    color: white;
    transition: all 0.5s ease-in;
}



.btn-circle-with-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}